<% content_for :body_class, "login-page" %>
<% content_for :body_style, "margin-top: 76px;" %>
<div id="wrapper">

<h1>HI Rajiv Ji</h1>
<p>You are Most welcome as a super admin</p>
<p>This is your page where You will get all functionality</p>
<p>Work is under progress..............</p>


</div>
